body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
}
main, header, footer {
    width: 60%;
    margin: 0 auto;
    border: solid rgb(150, 150, 150);
    border-width: 0px 10px;
    background-color: rgb(220, 220, 220);
    min-width: 40rem;
    max-width: 50rem;
}

h1, nav, table{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

h2{
    margin: 1rem;
    margin-top: 0;
}

footer{
    padding: 1rem 0;
}

footer h2, footer address{
    display: inline;
}

ul,ol{
    margin: 1rem;
}

.dados{
    list-style: none;
    padding: 0 0 0 20px;
}

.dados li:before {
    content: "\00BB   ";
}

.jobs{
    list-style-image: url('images/icon1.png');
}

ol{
    list-style-type: upper-roman;
}

li{
    margin: 10px;
}

.mapa {
    padding: 10px;
    border: 0;
}

p{
    margin: 0;
}

.video{
    width: 100%;
    height: 400px;
    border: 0;
}

img{
    padding: 10px;
    border-radius: 50%;
}

.nome{
    margin: 0;
    text-align: left;
}

.perfil{
    border-radius: 50%;
}

a{
    text-decoration: none;
    color: grey;
    padding: 0.5rem;
}

a:hover{
    color: black;
}

form{
    padding: 1rem;
}

form div{
    padding: 0.5rem;
    position: relative;
}

.inline{
    display: inline;
}

.inblock{
    display: block;
}

input, textarea{
    padding: 10px;
    border: none;
    border-bottom: 3px solid rgb(150, 150, 150);
    border-radius: 3px;
    margin: 3px;
    width: 90%;
    display: block;
}

input:focus, textarea:focus{
    outline: none;
    border-bottom: 3px solid black;
}

input:invalid + span::after{
    content: '✘';
    color: red;
}

input:valid + span::after{
    content: '✔';
    color: green;
}

fieldset{
    margin: 1rem;
    border: none;
    border-top: 1px solid black;
    width: 150px;
    background-color: rgb(230, 230, 230);
}

.legendaGrande{
    width: 500px;
}

fieldset input{
    width: auto;
    display: inline;
}

select{
    border: 1px solid white;
    font-size: 1rem;
    background-color: white;
}

select:focus{
    border: 1px solid black;
    outline: none;
}

button{
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button:hover{
    box-shadow: 0 0 5px black;
}